.gridd {
    width: 100%;
    display: block;
    padding: 0;
}

.gridd.wide {
    max-width: 1350px;
    margin: 0 auto;
}


//tablet and moble

@media (max-width: 1023px) {
    .header-navbar__list-2__info {
        display: none;
    }
    .header-navbar__first-layer {
        display: none;
    }
}

//phone

@media (max-width: 739px){
    .list-2__search-bar {
        display: none;
    }
    
}

@media (max-width: 1090px) {
    .list-2__info-detail:last-child {
        display: none; 
    }
}