.bordered__shop {
    margin: 30px 0;
    display: inline-block;
    padding: 10px 24px;
    background-color: #000;
    color: #fff;
    border-radius: 25px;
    font-weight: 700;
}

.bordered__shop:hover {
    opacity: 0.7;
}

.home {

}

.home__background {
    max-width: 100%;
}

.home__background-img {
    max-width: 100%;
}

.home__luk-al {
    padding: 50px;
    text-align: center;
}

.home__luk-al-text {
    font-size: 20px;
}

.home__luk-al-text--strong {
    font-weight: 700;
}

.home__luk-al-text--small {
    font-size: initial;
}

.home__luk-al--title {
    font-weight: 800;
    font-size: 45px;
}

.home__luk-al__arround {

}



// product

.product {
}

.product__cover {
    display: flex;
    justify-content: space-between;
}

.product__spotlight {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 800;
}

.product__navigation {
    display: flex;
    align-items: center;
}

.product__navigation-shop {

}

.product__navigation__arrow {
    width: 45px;
    padding: 10px;
    background-color: rgba(155, 153, 153, 0.2);
    border-radius: 50%;
    margin-left: 10px;
}

.product__shoes {
    overflow-x: auto;
    white-space: nowrap;
    padding: 0 0 30px;
}

.product__shoes-each {
    width: 440px;
    margin-right: 10px;
    display: inline-block;
}

.product__shoes-each__img {
    // width: 440px;
}

.product__shoes-each__info {

}

.shoes__info-details {
    display: flex;
    justify-content: space-between;
}

.shoes__info-details__type {
    font-weight: 700;
}

.shoes__info-details__price {
    font-weight: 700;
}

.shoes__info-details__sex {
    text-align: left;
    text-transform: uppercase;
}

.trend {

}

// slider

.slider {

}

.model {

}

.slider__trending {
    padding: 100px 0 35px;
    font-weight: 800;
    font-size: 24px;
    text-align: left;
}

.slider__trending:nth-child(2) {
    padding: 50px 0 35px;
}

.slider__info {
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
}

.slider__info .slider__jordan {
    padding-top: 50px;
    font-size: 15px;
    font-weight: 600;
}

.slider__mvp {
    font-size: 48px;
    font-weight: 700;
}

.slider__details {
    font-size: 20px;
}
